// Your custom variables
$link-hover-color: #e40613;
$primary-color: #322783;
$secondary-color: #e40613;
// "danger": $danger-color,
// "warning": $warning-color,
// "success": $success-color,
// "info": $info-color,
// "default": $default-color,
// "dark": $black,
// "light": $white